@import './mixin.scss';

//按钮混合
@mixin button($value:default) {
    background: linear-gradient(themed('btn-#{$value}-background-hover'), themed('them-title-color')) !important;
    border:themed('btn-#{$value}-color') !important;
    color:themed('btn-#{$value}-color') !important;
    border: 1px solid;
    width:100px;
    height:50px;
    border-radius: 10px;

    &:hover {
        background: linear-gradient(themed('them-title-color'), themed('btn-#{$value}-background-hover')) !important;
        border:themed('btn-#{$value}-border-hover') !important;
        color:themed('btn-#{$value}-color-hover') !important;
    }
}

//全局类 使用混合方法
@include themify($themes) {

    //标题类
    .them_title {
        width: 100%;
        height: 40px;
        //因为在这个位置已经包含了$theme-map，例如blove(...)所以直接用方法取出对应变量即可
        background-color: themed('them-title-background');
        color: themed('them-title-color');
    }
    
    .theme_bg{
        background-color: themed('them-title-background');
    }

    //按钮类
    .them-btn-default {
        @include button;
    }

    .them-btn-primary {
        @include button('primary');
    }

    .them-btn-info {
        @include button('info');
    }

}